.wd-button-tweet {
    width: 100%;
    border-radius: 16px;
}

.wd-curved-border {
    border-radius: 250px;
}

.wd-size-8 {
    font-size: 8px;
}

.wd-pl-12 {
    padding-left: 12px;
}

.wd-me-12 {
    margin-right: 12px;
}

.wd-border-16 {
    border-radius: 16px;
}

.wd-search {
    border-left: 0px;
    padding-left: 8px;
}

#wd-search-icon {
    background-color: transparent;
    border-right: 0 solid transparent;
}

.wd-double {
    font-size: 2em;
}

.wd-color-white {
    color: white;
}